@model AspPersonenverwaltung.Models.Continent

@{
    ViewData["Title"] = "Edit";
}

<h3>Kontinent Bearbeiten</h3>

<hr />

<div class="row">
    <form asp-action="Edit">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12">
            <input type="submit" value="Speichern" class="btn btn-primary" />
            <a class="btn btn-warning" asp-action="Index">Zurück</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}